{% if svg %}
<section>
  <h2>{{ plan.diagram.title }}</h2>
  <figure>
    <div class="diagramm">{{ svg | safe }}</div>
    {% if plan.diagram.caption %}<figcaption>{{ plan.diagram.caption }}</figcaption>{% endif %}
  </figure>
</section>
{% endif %}
